name: Build and Push

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/python-app"
          docker build -t $IMAGE:latest .

      - name: Tag image with SHA
        run: |
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/python-app"
          docker tag $IMAGE:latest $IMAGE:${{ github.sha }}

      - name: Push images
        run: |
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/python-app"
          docker push $IMAGE:latest
          docker push $IMAGE:${{ github.sha }}
